$brown: #795548;
$lightbeige: #fdf5e6;
$white: #fff;

div {
	position: relative;

	label {
		color:$brown;
	}

	input {
		padding:8px;
		display:block;
		border:none;
		border-bottom:1px solid #ccc;
		width:100%;
		border:1px solid #ccc;
		color:#000;
		background-color: $white;
		margin-bottom: 1em;
	}
	input:focus {
		background-color : $lightbeige;
	}
}